*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 10px;
    height: 100%;
}

body {
    overflow: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.top-0 {
    top: o;
}

.bottom-0 {
    bottom: 0;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.clearfix {
    clear: both;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.t-white {
    color: white;
}

.text-1{
    font-size: 1.6rem;
}

.text-2{
    font-size: 2rem;
}

.text-3{
    font-size: 3rem;
}

.text-4{
    font-size: 5rem;
}

.txt-center {
    text-align: center;
}
.ml-7{
    margin-left: 3rem
}
.ml-27{
    margin-left: 27rem;
}
.p-2-3{
    padding: 2rem 3rem
}
.p-2-8{
    padding: 2rem 5rem;
}
.p-2{
    padding: 3rem 0rem;
}
.p-3{
    padding: 0rem 3rem
}
.p-4{
    padding: 0rem 6rem;
}
.pt-1{
    padding-top: 0.5rem;
}
.pt-2{
 padding-top: 2rem;
}
.pt-3{
    padding-top: 3rem;
}
.pt-5{
    padding-top: 5rem;
}
.pt-10{
    padding-top: 7rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.v-align{
    vertical-align: middle;
}
.v-align-t{
    vertical-align: top;
}
.h-18{
    height: 18vh;
}
.t-blue{
    color: rgb(30 47 95);
}
.bg-blue{
    background-color:rgb(30 47 95) ;
}
.bg-lightblue{
    background-color: rgb(214, 214, 252);
}
.w-100{
    width: 100%;
}
.w-26{
    width: 18%;
}
.h-10{
    height: 10vh;
}
aside{
    /*border: 1px solid black;
    */width: 18%;
    height: 100vh;
    background-color: rgb(30 47 95);
    border-radius: 2rem;
    color: rgb(211, 211, 211);
    font-weight: bold;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    padding:0rem 2rem;
}
.aside-article{
    padding-top:5rem; ;
}
 footer{
    padding-top: 8rem;
 }
 span{
    background-color: rgb(138, 133, 133);
    color: black;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}
.dd-border{
    border: 5px solid rgb(138, 133, 133);
    border-radius: 1rem;
    width: 45%;
}
dl>dt{
    padding: 2rem 0rem
}
dl>dd{
    padding: 0rem 2rem;
}
 footer >ul li{
    list-style: none;
    margin-top: 2rem;
}
 footer >ul li>a{
    text-decoration: none;
    margin-top: 2rem;
    color: rgb(44, 43, 43);
}
.t-lightblack{
    color: rgb(120 114 114);
}
main{
    width: 78%;
    height: 100vh;
}
header >ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.main-article{
    height: calc(100% - 58px);
    font-family: 'Stoke', serif;
}
.main-header{
    border: 1px solid black;
}
section ul >li{
    list-style: none;
}
.border{
    border: 0.5px solid rgb(128, 125, 125);
    border-radius: 1rem;
    padding: 7rem 4rem;
    margin-left: 4rem
}
.border-basic{
    border: 2px solid rgb(30 47 95);
    border-radius: 1rem;
    padding: 7rem 4rem;
    margin-left: 6rem
}

.btn-continue{
    margin-right: 5rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
}
/* footer{
    
    padding-top: 0rem 1rem;
} */